[project]
	description = Android Web Browser with additional features.
[access "refs/*"]
	owner = group user/pcarenza (pcarenza)
[access "refs/for/refs/*"]
	read = group user/pcarenza (pcarenza)
	push = group user/pcarenza (pcarenza)
	label-Code-Review = -2..+2 group user/pcarenza (pcarenza)
	label-Verified = -1..+1 group user/pcarenza (pcarenza)
	rebase = group user/pcarenza (pcarenza)
	removeReviewer = group user/pcarenza (pcarenza)
	submit = group user/pcarenza (pcarenza)
[access "refs/heads/*"]
	read = group user/pcarenza (pcarenza)
	create = group user/pcarenza (pcarenza)
	push = +force group user/pcarenza (pcarenza)
	pushMerge = group user/pcarenza (pcarenza)
[access "refs/tags/*"]
	push = +force group user/pcarenza (pcarenza)
	pushTag = group user/pcarenza (pcarenza)
	pushSignedTag = group user/pcarenza (pcarenza)
